body {
    margin-left: 20px;
}

.card {
    width: 500px;
    background-color: lightgrey;
    border: 1px solid grey;
    margin: 10px;
}

.innercard {
    padding: 10px;
    border: 1px solid grey;
}

.header {
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 1% 0;
    border: 1px solid gray;
    user-select: none;
}

.green {
    background-color: #3cba54;
}

.blue {
    background-color: #4885ed;
}

.red {
    background-color: #db3236; 
}

.yellow {
    background-color: #f4c20d;
}

.dark {
    background-color: #36393f;
}

.p {
    padding-left: 10px;
}